[class^='col-']{
    background-color: #006cfa;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nested {
    background-color: #00e165;
    padding: 1rem;
    height: 50%;
    border: 1px solid #006cfa;
}

.container{
    margin: 0 auto;
    padding-bottom: 1rem;
}